:root {
  --text-primary: #e8ecf1;
  --text-secondary: #7393a7;
  --background-secondary: #6c737e;
  --background-primary: #b5cfd8;
  --positiveChange: green;
  --negativeChange: red;
}

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Oswald";
}
.nav-item {
  padding: 0 10px;
}
.navbar-brand {
  letter-spacing: 1.4px;
}

.nav-link::after {
  content: "";
  left: 0px;
  width: 0%;
  display: block;
  height: 1px;
  transition: 0.3s ease-in-out;
  transition-property: all;
  bottom: 50px;
  background-color: #e8ecf1;
}

a.navbar-brand span {
  font-size: 20px;
  color: chartreuse;
}
.nav-link.active::after {
  width: 100%;
}

.nav-link:hover::after {
  width: 100%;
}

body {
  background-color: var(--background-primary);
}

.negative-change {
  color: var(--negativeChange);
}

.positive-change {
  color: var(--positiveChange);
}

tbody {
  font-weight: 200;
}

.card-title {
  color: #666666;
}

.card-top {
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
