{% extends './home.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Adicionar nova ação ao portfólio</h4>
      </div>
      <div class="card-body">
        <form method="POST" class="col" autocomplete="off">
          {% csrf_token %}
          
          <div class="form-group d-flex flex-column align-items-center">
            <label for="id_symbol">Abreviação</label>
            {{ form.symbol }}
            <small id="abbr-help" class="form-text text-muted">Digite a abreviação da sua ação aqui e clique em
              adicionar para vê-la em seu portfólio</small>
              <button
              type="submit"
              value=""
              class="btn btn-primary d-flex"
              >
              Adicionar<i class="fas fa-submit"></i>
            </button>
          </div>    
        </form>
      </div>
    </div>
  </div>
</div>
  {% if messages %} {% for message in messages %} {% if message.tags %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %} {% endfor %} {% endif %}
  <script src="{% static '/js/addStock.js' %}"></script>

  {% endblock content %}
</div>
