{% extends './home.html' %}
{% load static %}
{% block content %}
<div class="row m-2">
	<div class="col-md-8">
			<div class="card mb-3">
				<div class="card-header">
					<h4 class="card-title">Ibovespa</h4>
					<label for="select-range">Intervalo</label>
					<select class="form-control" id="select-range">
						<option value="7">1 Semana</option>
						<option value="14">2 Semanas	</option>
						<option value="30">1 Mês</option>
						<option value="90">3 Meses</option>
						<option value="180" selected>6 Meses</option>
						<option value="365">1 Ano</option>
					</select>
				</div>
				<div class="card-body">
					<div id="stockChart" style="position: relative; height: 38vh; width: 100%;"></div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div id="stockChartpercent" style="position: relative; height: 38vh; width: 100%;"></div>
				</div>
			</div>
	</div>
	<div class="col-md">
		<div class="card">
			<div class="card-header">
				<h4>Histórico</h4>
			</div>
			<div class="card-body ov-h  table-responsive-sm">	
				<table id="dataTable" class="table">
					<thead>
						<tr>
							<th scope="col">Data</th>
							<th scope="col">Valor</th>
							<th scope="col">Variação</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>




<!--  -->

{{ ibov|json_script:"ibov" }}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static '/js/bvsp.js' %}"></script>
<script>
	const ibov_url = "{% url 'ibovpage' %}";
	
</script>
{% endblock content %}