{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css'%}" />
    <script
      src="https://kit.fontawesome.com/034b561e46.js"
      crossorigin="anonymous"
    ></script>

    <title>Stock Dashboard</title>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="{% url 'homepage' %}" class="brand-logo right">Portfólio</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"
          ><i class="fas fa-bars"></i
        ></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="sidenav-trigger" data-target="slide-out">
            <a class=""
              ><i class="fas fa-bars"></i
            ></a>
          </li>
          <li><a href="{% url 'addstockpage' %}"><i class="fas fa-plus"></i> ADICIONAR AÇÃO</a></li>
          <li><a href="{% url 'walletpage' %}"><i class="fas fa-wallet"></i> SUA CARTEIRA</a></li>
          <li><a href="{% url 'forexpage' %}"><i class="fas fa-dollar-sign"></i> CÂMBIO</a></li>
          <li><a href="#destaques"><i class="far fa-lightbulb"></i> DESTAQUES</a></li>
        </ul>
      </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="subheader">Menu</a></li>
      <li>
        <a href="{% url 'homepage' %}" class="waves-effect"
          ><i class="far fa-star"></i>Home</a
        >
      </li>
      <div class="adicionar">
        <li>
          <a class="waves-effect" href="{% url 'addstockpage' %}"
            ><i class="fas fa-plus"></i> Adicionar ação</a
          >
        </li>
      </div>
      <div class="adicionar">
        <li>
          <a class="waves-effect" href="{% url 'walletpage' %}"
            ><i class="fas fa-wallet"></i>Modificar Carteira</a
          >
        </li>
      </div>
      <div class="adicionar">
        <li>
          <a class="waves-effect" href="{% url 'forexpage' %}"
            ><i class="fas fa-dollar-sign"></i>BRL - USD</a
          >
        </li>
      </div>
      <li>
        <div class="divider"></div>
      </li>
      <div class="ações">
        <li><a class="subheader">Suas ações</a></li>
        <ul class="collection with-header">
          {% for stock in stocks %}
          <li class="collection-item">
            <div>
              <a
                class="waves-effect black-text"
                href="{% url 'detailedstockpage' pk=stock.pk %}"
                >{{ stock.symbol }}</a
              >
              <a
                href="{% url 'removestockpage' pk=stock.pk %}"
                class="secondary-content"
                ><i class="far fa-window-close"></i
              ></a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </ul>
    <div class="blue-grey lighten-4">
      {% block content %}
      <!-- Main content goes here -->
      {% endblock content %}
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static '/js/home.js' %}"></script>

  <style>
  </style>
</html>
