{% extends './home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/home2.css' %}">
<div class="hide-on-med-and-down">
	{% if lucro > 0 %}
		<div class="row green">
			<div class="col s12">
				<h4 class="green left ">Rendimento Atual: {{ lucro }}%<i class="fas fa-long-arrow-alt-up"></i></h4>
	{% elif lucro < 0 %}
		<div class="row red">
			<div class="col s12">
				<h4 class="red left ">Rendimento Atual: {{ lucro }}%<i class="fas fa-long-arrow-alt-down"></i></h4>
	{% else %}
		<div class="row amber">
			<div class="col s12">
				<h4 class="amber accent-4 left ">Rendimento Atual: {{ lucro }}%<i class="fas fa-minus"></i></h4>
	{% endif %}
			{% if obj.change_percent > 0 %}
				<h4 class="green right"> {{ obj.change_percent }}%<i class="fas fa-long-arrow-alt-up"></i></h4>
				<h4 class="green right">Ibovespa: {{ obj.price }}<i class="fas fa-long-arrow-alt-up"></i></h4>
			{% elif obj.change_percent < 0 %}
				<h4 class="red right"> {{ obj.change_percent }}%<i class="fas fa-long-arrow-alt-down"></i></h4>
				<h4 class="red right">Ibovespa: {{ obj.price }}<i class="fas fa-long-arrow-alt-down"></i></h4>
			{% else %}
				<h4 class="amber accent-4 right"> {{ obj.change_percent }}%<i class="fas fa-minus"></i></h4>
				<h4 class="amber accent-4 right">Ibovespa: {{ obj.price }}<i class="fas fa-minus"></i></h4>
			{% endif %}
			<div class="center"><a id="updateButton" class="waves-effect waves-light btn">Atualizar<i class="fas fa-submit"></i></a></div>
		</div>
	</div>
</div>
<div class="hide-on-large-only">
	{% if lucro > 0 %}
		<div class="row green">
			<div class="col s12">
				<h4 class="green center">Rendimento: {{ lucro }}%<i class="fas fa-long-arrow-alt-up"></i></h4>
	{% elif lucro < 0 %}
		<div class="row red">
			<div class="col s12">
				<h4 class="red center ">Rendimento: {{ lucro }}%<i class="fas fa-long-arrow-alt-down"></i></h4>
	{% else %}
		<div class="row amber">
			<div class="col s12">
				<h4 class="amber accent-4 center ">Rendimento: {{ lucro }}%<i class="fas fa-minus"></i></h4>
	{% endif %}
			</div>
			<div class="row">
			{% if obj.change_percent > 0 %}
				<h4 class="green center">Ibovespa: {{ obj.price }}<i class="fas fa-long-arrow-alt-up"></i></h4>
				<h4 class="green center"> {{ obj.change_percent }}%<i class="fas fa-long-arrow-alt-up"></i></h4>
			{% elif obj.change_percent < 0 %}
				<h4 class="red center">Ibovespa: {{ obj.price }}<i class="fas fa-long-arrow-alt-down"></i></h4>
				<h4 class="red center"> {{ obj.change_percent }}%<i class="fas fa-long-arrow-alt-down"></i></h4>
			{% else %}
				<h4 class="amber accent-4 center">Ibovespa: {{ obj.price }}<i class="fas fa-minus"></i></h4>
				<h4 class="amber accent-4 center"> {{ obj.change_percent }}%<i class="fas fa-minus"></i></h4>
			{% endif %}
		</div>
	</div>
	<div class="center"><a id="updateButton" class="waves-effect waves-light btn">Atualizar<i class="fas fa-submit"></i></a></div>
</div>
<div class="row">
	{% for stock in stocks %}
	<div class="col s12 m6 l3 grid">
		<div id="{{ stock.pk }}" ></div>
	</div>
	{% endfor %}
</div>
<div id="footer-row" class="row">
<div class="col s12 m6 l6"><h4 id="destaques"class="center">Destaques Positivos</h4></div>
<div class="col s12 m6 l6"><h4 class="center hide-on-med-and-down">Destaques Negativos</h4></div>
	<div class="col s12 m6 l3">
		<table id="absolute-high" class="green darken-4 striped centered responsive-table">
			<thead>
				<tr>
					<th>Ação</th>
					<th>Preço</th>
					<th>Variação Absoluta</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="col s12 m6 l3">
		<table id="relative-high" class="green darken-4 striped centered responsive-table">
			<thead>
				<tr>
					<th>Ação</th>
					<th>Preço</th>
					<th>Variação Relativa</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class=""><h4 class="center hide-on-large-only">Destaques Negativos</h4></div>
	<div class="col s12 m6 l3">
		<table id="absolute-low" class="red darken-4 striped centered responsive-table">
			<thead>
				<tr>
					<th>Ação</th>
					<th>Preço</th>
					<th>Variação Absoluta</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="col s12 m6 l3">
		<table id="relative-low" class="red darken-4 striped centered responsive-table">
			<thead>
				<tr>
					<th>Ação</th>
					<th>Preço</th>
					<th>Variação Relativa</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
	

{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>alert("{{ message }}")</script> {% endif %}
{% endfor %}
{% endif %}
{{ symbols|json_script:"symbols" }}}
{% csrf_token %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	const home_url = "{% url 'homepage' %}";
</script>
<script src="{% static '/js/home2.js' %}"></script>
{% endblock content %}
