  {% extends './home.html' %} {% load static %} {% block content %}
<div class="landing-page">
  <h1><span class="brand-title">RM</span> INVESTIMENTOS</h1>
  <p>O seu site de ações</p>
</div>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static '/css/home2_new.css' %}"
/>
<div class="page-wrapper">
  <div class="row d-flex justify-content-between" id="favs-row"></div>
  <div class="row">
    <div class="col-xl-4 col-md-7 mb-2">
      <div class="card">
        <h4 class="card-header">Outras Ações</h4>
        <div class="p-1">
          <div class="table-responsive-sm">
            <table class="table favorites">
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-md-5 mb-2">
      <div class="card mb-2">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div class="card-title">
              <h4>IBOVESPA</h4>
            </div>
            <div class="card-title">
              <h4>{{ obj.price }} pts</h4>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="card-title">
              <p>Variação (%)</p>
            </div>
            <div class="card-title">
              {% if obj.change_percent > 0 %}
              <p>
                {{ obj.change_points }} (<span class="positive-change"
                  ><i class="fas fa-arrow-up"></i> {{obj.change_percent}}%</span
                >)
              </p>
              {% else %}
              <p>
                {{ obj.change_points }} (<span class="negative-change"
                  ><i class="fas fa-arrow-down"></i> {{ obj.change_percent
                  }}%</span
                >)
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <h4 class="card-header">Resumo da Bolsa</h4>
        <div class="card-body">
          <div
            id="stockChartPie"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="stockChartpercent"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="row"></div>
      <div class="row"></div>
    </div>
  </div>
</div>

{% if messages %} {% for message in messages %} {% if message.tags %}
<script>
  alert("{{ message }}");
</script>
{% endif %} {% endfor %} {% endif %} {{ symbols|json_script:"symbols" }}
{{favorites|json_script:"favorites" }} {{stocks_json|json_script:"stocks_json"}}
{% csrf_token %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  const home_url = "{% url 'homepage' %}";
</script>
<script src="{% static '/js/home2.js' %}"></script>
{% endblock content %}
